<!-- Will possibly use this text to shorten body length - no way figured out yet to easily show the rest... prep.body.truncate(100, separator: ' ') -->

<p>
  <strong>Preparation:</strong>
  <%= prep.name %>
</p>
 
<p>
  <strong>Preparation Details:</strong>
  <%= prep.body %>
</p>

<p>
  <strong>Time (in minutes):</strong>
  <%= prep.time %>
</p>

<p>
  <strong>Ingredients:</strong>

<ul>
	<% prep.prep_ingredients.each do |prep_ingredient| %>
	<li>
		 <%= prep_ingredient.ingredient.name.pluralize %>: <%= prep_ingredient.quantity %> <%= prep_ingredient.ingredient.unit_of_measure.pluralize %>
	</li>
	<% end %>
</ul>
</p>
<p>
	<%= link_to 'Edit Prep', edit_prep_path(prep) %> | 
	<%= link_to 'Destroy Prep', prep, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
-------------