<h1>Welcome to the Food Matrix</h1>
<%= link_to "Proteins", controller: "proteins" %>
<%= link_to "Vegetables", controller: "vegetables" %>
<%= link_to "Spices", controller: "spices" %>
<%= link_to "Fats", controller: "fats" %>
<%= link_to "Snacks", controller: "snacks" %>