<h1>Welcome to the Food Matrix</h1>
<%= link_to "Proteins", controller: "proteins" %>
<%= link_to "Vegetables", controller: "vegetables" %>
<%= link_to "Spices", controller: "spices" %>
<%= link_to "Fats", controller: "fats" %>
<%= link_to "Snacks", controller: "snacks" %>
<p></p>
<div id="generate_meal">
<%= link_to "Generate a Meal", controller: "meals" %>
</div>