<p>
  <strong>Title:</strong>
  <%= @vegetable.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @vegetable.body %>
</p>

<div class="prep_or_recipe">
	<% if @vegetable.preps.any? %>
		<h2>Preparation Recipes: (<%= @vegetable.preps.count %>)</h2>
		<ol class="preps_list">
			<%= render @vegetable.preps %>
		</ol>
		<%= will_paginate @preps %>
	<% end %>
</div>

<div class="form">
	<h2>Add a Preparation Style:</h2>
<%= render "vegetables/prepform" %>
 </div>
<p></p>
<div class="food_bottom">
	<%= link_to 'Edit Vegetable', edit_vegetable_path(@vegetable) %> |
	<%= link_to 'Back to Vegetables', vegetables_path %>
</div>