<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vegetable.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @vegetable.body %>
</p>

<h2>Preparation Recipes:</h2>
<%= render @vegetable.recipes %>

<h2>Add a recipe:</h2>
<%= render "recipes/form" %>

<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetables_path %>
