<h2><%= @protein.title %></h2>
<% if @prep %>
	<p><%= @prep.name %></p>
	<p><%= @prep.body %></p>
	<p>Minutes: <%= @prep.time %></p>
<% end %>
<h2><%= @vegetable.name %></h2>
<% if @recipe %>
	<p><%= @recipe.name %></p>
	<p><%= @recipe.body %></p>
	<p>Minutes: <%= @recipe.time %></p>
<% end %>
<h2><%= @spice.name %></h2>
<% if @marinade %>
	<p><%= @marinade.name %></p>
	<p><%= @marinade.body %></p>
	<p>Minutes: <%= @marinade.time %></p>
<% end %>


<%= link_to 'Try Again', meals_path %>
<p><%= link_to 'Home', root_path %></p>