<%= form_for(@gl) do |f| %>
  <% if @gl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gl.errors.count, "error") %> prohibited this gl from being saved:</h2>

      <ul>
      <% @gl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grocery_list_id %><br>
    <%= f.number_field :grocery_list_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
