<h1>Listing gls</h1>

<table>
  <thead>
    <tr>
      <th>Grocery list</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gls.each do |gl| %>
      <tr>
        <td><%= gl.grocery_list_id %></td>
        <td><%= gl.user_id %></td>
        <td><%= link_to 'Show', gl %></td>
        <td><%= link_to 'Edit', edit_gl_path(gl) %></td>
        <td><%= link_to 'Destroy', gl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gl', new_gl_path %>
