<h1>Listing spices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spices.each do |spice| %>
      <tr>
        <td><%= spice.name %></td>
        <td><%= spice.body %></td>
        <td><%= link_to 'Show', spice %></td>
        <td><%= link_to 'Edit', edit_spice_path(spice) %></td>
        <td><%= link_to 'Destroy', spice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spice', new_spice_path %>
<%= link_to 'Home', root_path %>