<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spice.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @spice.body %>
</p>

<p>
  <strong>Name:</strong>
  <%= marinade.name %>
</p>
 
<p>
  <strong>Preparation Details:</strong>
  <%= marinade.body %>
</p>

<p>
	<%= link_to 'Destroy Marinade', [marinade.spice, marinade], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<h2>Add a marinade:</h2>
<%= render "marinades/form" %>

<%= link_to 'Edit', edit_spice_path(@spice) %> |
<%= link_to 'Back', spices_path %>
