<h1>Listing Proteins</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
  </tr>
 
<% @proteins.each do |protein| %>
  <tr>
    <td><%= protein.title %></td>
    <td class="text"><%= protein.text %></td>
    <td><%= link_to 'Show', protein_path(protein) %></td>
    <td><%= link_to 'Edit', edit_protein_path(protein) %></td>
    <td><%= link_to 'Destroy', protein_path(protein), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Protein', new_protein_path %>
<%= link_to 'Home', root_path %>