<h1>Listing proteins</h1>
<%= link_to 'New Protein', new_protein_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
  </tr>
 
<% @proteins.each do |protein| %>
  <tr>
    <td><%= protein.title %></td>
    <td><%= protein.text %></td>
    <td><%= link_to 'Show', protein_path(protein) %></td>
    <td><%= link_to 'Edit', edit_protein_path(protein) %></td>
  </tr>
<% end %>
</table>