<p>
  <strong>Title:</strong>
  <%= @protein.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @protein.text %>
</p>

<div class="prep_or_recipe">
	<% if @protein.preps.any? %>
		<h2>Preparation Recipes: (<%= @protein.preps.count %>)</h2>
		<ol class="preps_list">
			<%= render @protein.preps %>
		</ol>
		<%= will_paginate @preps %>
	<% end %>
</div>

<div class="form">
	<h2>Add a Preparation Style:</h2>
	<%= render "preps/form" %>
 </div>
<p></p>
<div class="food_bottom"
	<%= link_to 'Edit Protein', edit_protein_path(@protein) %> |
	<%= link_to 'Back to Proteins', proteins_path %>
</div>