<h1>Listing Snacks</h1>
 
<table class="food_index">
  <tr class="food_index_tr">
    <th >Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @snacks.each do |snack| %>
  <tr>
    <td><%= link_to snack.name, snack_path(snack) %></td>
    <td class="text"><%= snack.name %></td>
    <td><%= link_to 'Show', snack_path(snack) %></td>
    <td><%= link_to 'Edit', edit_snack_path(snack) %></td>
    <td><%= link_to 'Delete', snack_path(snack), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Snack', new_snack_path %>
<%= link_to 'Home', root_path %>
