<!DOCTYPE html>
<html>
<head>
  <title>Foodmatrix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top">
	<div id ="logo">
<%= link_to 'Food Matrix', root_path %>
	</div>
	<ul class="logo_words">
<li class="logo_word_lis"><%= link_to "Proteins", controller: "proteins" %></li>
<li class="logo_word_lis"><%= link_to "Vegetables", controller: "vegetables" %></li>
<li class="logo_word_lis"><%= link_to "Spices", controller: "spices" %></li>
<li class="logo_word_lis"><%= link_to "Fats", controller: "fats" %></li>
<li class="logo_word_lis"><%= link_to "Snacks", controller: "snacks" %></li>
	</ul>
</div>
<div class="page">
  <%= yield %>
</div>
  <div class="footer">
  	<% if signed_in? %>      
    <ul class="footer_words">
        <li class="footer_word_lis"><%= link_to "Ingredients", ingredients_path %></li>
      <ul class="footer_words">
        <li class="footer_word_lis"><%= link_to "Users", users_path %></li>
        <li class="footer_word_lis"><%= link_to "Profile", current_user %></li>
        <li class="footer_word_lis"><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li class="footer_word_lis"><%= link_to "Sign Out", signout_path, method: "delete" %></li>
      </ul>
    <% else %>
        <ul class="footer_words">
          <li class="footer_word_lis"><%= link_to "Sign up now", signup_path %></li>
          <li class="footer_word_lis">or</li>
          <li class="footer_word_lis"><%= link_to "Sign in", signin_path %></li>
        </ul>
    <% end %>
  </div>
</body>
</html

